---
import Layout from "../layouts/Layout.astro";
import contact from "../assets/Contact.jpg";
import { Image } from "astro:assets";
---

<Layout title="Welcome to Astro.">
  <!-- Sign In section -->
  <div class="flex flex-col justify-center items-center mt-16 py-20">
    <!-- Form Section -->
    <div
      class="contact_fades h-full flex flex-col gap-10 justify-center items-center"
    >
      <div class="">
        <h2 class="text-3xl font-bold">Contact Us</h2>
        <p class="text-black/60">
          Connect with Us for Seamless Global Trade Solutions
        </p>
      </div>
      <form id="contactForm" class="flex flex-col gap-6 w-[400px]">
        <!-- Name Input -->
        <div class="w-full">
          <label
            for="name"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Name
          </label>
          <input
            type="text"
            id="name"
            name="from_name"
            class="w-full py-2 border-b border-gray-300 focus:outline-none"
            placeholder="Your Name"
            required
          />
        </div>
        <!-- Email Input -->
        <div class="w-full">
          <label
            for="email"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Email
          </label>
          <input
            type="email"
            id="email"
            name="from_email"
            class="w-full py-2 border-b border-gray-300 focus:outline-none"
            placeholder="John@gmail..com"
            required
          />
        </div>
        <!-- Message TextArea -->
        <div class="w-full">
          <label
            for="message"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Message
          </label>
          <textarea
            id="message"
            name="message"
            rows="4"
            class="w-full py-2 border-b border-gray-300 focus:outline-none"
            placeholder="Write your message..."
            required></textarea>
        </div>
        <!-- Submit Button -->
        <button
          type="submit"
          class="w-full mt-[26px] px-7 py-2 rounded-full text-white cursor-pointer bg-sky hover:bg-ocean"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</Layout>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  const elements = document.querySelectorAll(".contact_fades");
  gsap.from(elements, {
    opacity: 0,
    y: 20,
    stagger: {
      each: 0.2,
    },
    scrollTrigger: {
      trigger: elements,
      toggleActions: "play pause resume reset",
      start: "top 80%",
    },
  });

  import emailjs from "@emailjs/browser";
  emailjs.init({
    publicKey: "n_k1SupWqv5mS3inO",
  });
  const form = document.getElementById("contactForm") as HTMLFormElement;
  form.addEventListener("submit", async (e: Event) => {
    e.preventDefault();
    try {
      const result = await emailjs.sendForm(
        "service_yhvgdce",
        "template_txz6rku",
        form
      );
      console.log("Email sent successfully:", result.text);
      // Redirect to the success page
      window.location.href = "/success";
    } catch (error) {
      console.error("Error sending email:", error);
      alert("There was an error submitting the form. Please try again.");
    }
  });
</script>
