---

---

<div class="flex justify-center mt-32">
  <div class="flex flex-col justify-center items-center w-[1080px] gap-3">
    <div class="flex flex-col items-center">
      <h1
        class="fade text-4xl text-[#131820] font-semibold leading-[110%] tracking-[-0.02em]"
      >
        About Intercontinental Exim
      </h1>
      <p class="fade text-ocean/50">A venture of Elegance Express</p>
    </div>
    <p class="fade text-[#131820] opacity-[50%] text-center w-[750px]">
      At Intercontinental Exim, we believe in bridging the gap between
      continents through world-class trade services. Our mission is to provide
      premium products that uphold the highest standards of quality,
      reliability, and sustainability.
    </p>
    <a
      href="/about"
      class="fade mt-5 px-7 py-2 rounded-full border-2 border-[#131820] text-black cursor-pointer"
    >
      About
    </a>
    <div class="pt-24">
      <div class="w-full mx-auto grid grid-cols-5 gap-8">
        <div
          class="slide w-full flex flex-col justify-between text-center border-l border-gray-300 pl-4"
        >
          <div class="pb-24">
            <h3 class="text-sky text-xl font-bold mb-2 text-left">01</h3>
            <h4
              class="text-xl leading-tight font-bold text-gray-900 mb-2 text-left"
            >
              Across Continents
            </h4>
          </div>
          <p class="text-gray-600 text-left">
            Operating globally ensuring timely and seamless delivery.
          </p>
        </div>
        <div
          class="slide w-full flex flex-col justify-between text-center border-l border-gray-300 pl-4"
        >
          <div class="pb-24">
            <h3 class="text-sky text-xl font-bold mb-2 text-left">02</h3>
            <h4
              class="text-xl leading-tight font-bold text-gray-900 mb-2 text-left"
            >
              Quality Assurance
            </h4>
          </div>
          <p class="text-gray-600 text-left">
            Strict quality control guarantees top IT and food products.
          </p>
        </div>
        <div
          class="slide w-full flex flex-col justify-between text-center border-l border-gray-300 pl-4"
        >
          <div class="pb-24">
            <h3 class="text-sky text-xl font-bold mb-2 text-left">03</h3>
            <h4
              class="text-xl leading-tight font-bold text-gray-900 mb-2 text-left"
            >
              Diverse Product Range
            </h4>
          </div>
          <p class="text-gray-600 text-left">
            One-stop shop for IT services, design, and various products.
          </p>
        </div>
        <div
          class="slide w-full flex flex-col justify-between text-center border-l border-gray-300 pl-4"
        >
          <div class="pb-24">
            <h3 class="text-sky text-xl font-bold mb-2 text-left">04</h3>
            <h4
              class="text-xl leading-tight font-bold text-gray-900 mb-2 text-left"
            >
              Customer <br /> Centric
            </h4>
          </div>
          <p class="text-gray-600 text-left">
            Personalized services to build strong and lasting relationships.
          </p>
        </div>
        <div
          class="slide w-full flex flex-col justify-between text-center border-l border-gray-300 pl-4"
        >
          <div class="pb-24">
            <h3 class="text-sky text-xl font-bold mb-2 text-left">05</h3>
            <h4
              class="text-xl leading-tight font-bold text-gray-900 mb-2 text-left"
            >
              Sustainable Practices
            </h4>
          </div>
          <p class="text-gray-600 text-left">
            Eco-friendly sourcing and ethical supply chain focus.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);
  const elements = document.querySelectorAll(".fade");
  gsap.from(elements, {
    opacity: 0,
    y: 20,
    stagger: {
      each: 0.2,
    },
    scrollTrigger: {
      trigger: elements,
      toggleActions: "play pause resume reset",
      start: "top 80%",
    },
  });

  const card = document.querySelectorAll(".slide");
  gsap.from(card, {
    opacity: 0,
    x: -20,
    stagger: {
      each: 0.2,
    },
    scrollTrigger: {
      trigger: card,
      toggleActions: "play none none reset",
      start: "top 80%",
      once: false,
    },
  });
</script>
