---
import { Button } from "@radix-ui/themes";
import img from "../assets/TradeSphere.svg";
---

<div class="flex justify-center bg-white">
  <nav class="flex items-center justify-between w-[1080px] h-20">
    <div class="flex items-center space-x-10">
      <div class="text-xl font-bold text-[#131820] flex items-center space-x-2">TradeSphere</div>
      <a href="#" class="hover:text-gray-600">Home</a>
      <a href="#" class="hover:text-gray-600">About</a>
      <a href="#" class="hover:text-gray-600">Products</a>
    </div>
    <a href="#" class="bg-[#cbf36e] text-[#131820] px-6 py-2 rounded-full hover:bg-[#b9e75b]">
      Contact
    </a>
  </nav>
</div>
