---
import { Image } from "astro:assets";
import logo from "../assets/logo.png";

// Add any necessary frontmatter here if required
---

<div
  class="fixed w-full max-w-[1080px] left-1/2 transform -translate-x-1/2 top-5 z-10 flex justify-center pl-8 px-3 rounded-full text-white bg-black/70 backdrop-blur-xl saturate-150"
>
  <nav class="flex items-center justify-between w-[1080px] h-[56px]">
    <div class="text-lg font-bold flex items-center space-x-2">
      <a href="/" class="text-white">
        <div class="flex justify-center items-center gap-1">
          <Image src={logo} alt="" width={42} />
          IntercontinentalExim
        </div>
      </a>
    </div>

    <div class="flex items-center space-x-10">
      <a href="/" class="hover:text-ocean">Home</a>
      <a href="/about" class="hover:text-ocean">About</a>
      <a href="/products" class="hover:text-ocean">Products</a>
      <a
        href="/contact"
        class="bg-sky text-white px-6 py-2 rounded-full hover:bg-ocean"
      >
        Contact
      </a>
    </div>
  </nav>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const links = document.querySelectorAll("nav a");
      const currentPath = window.location.pathname;

      links.forEach((link) => {
        if (link.getAttribute("href") === currentPath) {
          link.classList.add("text-ocean");
        } else {
          link.classList.remove("text-ocean");
        }
      });

      links.forEach((link) => {
        link.addEventListener("click", () => {
          links.forEach((l) => l.classList.remove("text-ocean"));
          link.classList.add("text-ocean");
        });
      });
    });
  </script>
</div>
